body{
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to right, #ad5389, #3c1053);
	background-size: cover;
}

.card{
	margin-top: 100px;
}
.card h2{
	font-weight: bolder;
	padding-top: 13px;
}

.card h6{
	font-weight:600;
}



#a{
	outline: none;
	border:none;
	padding-left:7px;
	width: 80%;
	background-color: #ececec;
	height:35px;
}

#but{
	width: 80%;
	border:none;
	font-weight: 600;
	height:35px;
	outline: none;
	background: linear-gradient(to right, #ad5389, #3c1053);
	color: white;
}

.card p{
	font-weight: 600;
}